@charset "UTF-8";

body {
    text-align: center;
    background-color: aqua;
}

.conteiner {
    background-color: aquamarine; 
    padding-top: 30px;
    width: 550px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
}
#title {
    font-family: Arial, sans-serif;
    margin: 60px auto 60px;
}

.paragrafo {
    font-family: Arial, sans-serif;
    font-size: 1em;
    text-align: justify;
    text-align: center;
    padding-bottom: 20px;

}
.input {
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.226);
}

.btn {
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 290px;
    height: 30px;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.226);
}
.btn:hover {
    background-color: black;
    color: white;
    font-size: 1em;
    width: 295px;
    height: 35px;
}

#resposta {
    font-family: Arial, sans-serif;
    font-size: 1em;
    text-align: justify;
    text-align: center;    
}
